h3{
	padding-top: 0.3em;
	margin-top: 0.3em;
}
.box{
	background: white;
	padding: 0.4em;
}

.rate p{
	font-size: 1.6em;
} 

button{
	position: relative;
    bottom: 2.25em;
    left: 7.5em;
}
.navbar{
	background: white;
}
.navbar>div{
	color:purple;
	font-weight: bolder;
	}
.guess label{
	width: 75%;
	font-weight: bold;
}
.guess p{
	margin: 0;
	font-size: 1.2em;
}
.guess a{
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 1.2em;
}

.btn{
	bottom: 3px;
    position: relative;
}
.btn-primary{
	margin-top: -4.4em;
}
h5{
	margin-top: 6em;
}
.solved p{
	margin:0;
	text-align: center;
}

/*
***
MEDIA QUERIES
***
*/

@media (max-width: 992px){
	h5{
	margin: 0;
	}
	.comment,.score{
	margin-top: 1.5em !important;
	}
}


