.content{
	
margin: 0 auto;
}
.list-item{
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    
}

.list-item li{
    display: inline-block;
    font-size: 1.2em;
}

.table td, .table th{
	padding: 0;
}


.card-img-top{
	width: 10em;
}
.list-group{
	max-width: 20em;
}


.navbar{
	background: purple;
}
.navbar>div{
	color:white;
}


.content a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	
}
.content a:first-child{
	color: magenta;
}

