body{
background: #DBD9D9;
background: -moz-radial-gradient(center, #DBD9D9 0%, #8D96A5 44%, #373160 100%);
background: -webkit-radial-gradient(center, #DBD9D9 0%, #8D96A5 44%, #373160 100%);
background: radial-gradient(ellipse at center, #DBD9D9 0%, #8D96A5 44%, #373160 100%);
}
.mainbg{
background: url('/images/gamestudiobg.jpg');
background-size: cover;
}

h1{
	padding-top:1em;
	padding-bottom: 1.4em;
}

.card-body{
	background: black;
}
.card-body p{
	text-align: center;
	
}
.card-body a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing:  0.1em;
}
.strip{
	background: black;
}


header p{
	font-size: 1.5em;
	text-transform: uppercase;
	color:white;
	padding-bottom: 0.7em;
}
header h1 {
	color: white;
	font-weight: bolder;
	margin:0;
	padding: 0.6em;
}

.dropdown-menu.show{
	
	padding: 0.4em;
}
.dropdown-item:hover{
	background: none;
}
.navbar-light .navbar-nav .nav-link
{
	color:black;
}


label{
	width: 100%;
}




/***
*********
**RATING 
*/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    bottom: 1.8em;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 3vw;
    color: #ffff00;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.rate p{
	font-size: 1.6em;
}

.avgrate{
	font-weight: bold;
	color: #00ff00;
	text-align: center;
	background: black;
	border-radius: 50%;
	display: inline-block;
	padding: 0.6em;
	}
.navbar{
	background: purple;
}
.navbar>div{
	color:black;
}
.global-footer p{
	margin:0;
}
.pre-footer{
	background: black;
	padding: 0.8em;
	margin-top:2em;
}
.pre-footer{
	color: white;
}
.error{
	color: red;
	text-align: center;
}
.size{
	font-size: 0.5em;
}





#success{
	display: none;
	background: green;
	color: white;
	text-transform: uppercase;
}

.games li:first-child, .social-network li:first-child{
	list-style: none;
	color: #00ff40;
	text-transform: uppercase;
	font-style: italic;
}


@media (max-width:992px){
	.card {
		margin-bottom: 1em; 
	}
}

@media (max-width:575px){
	.pre-footer  ul{
		margin-left: 12.09em; 
	}
}


