
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
</head>
<body class="mainbg">
<div th:if="${@loginController.logged}">
	<div th:text="${@loginController.message}"/>
</div>
<div th:replace="/fragments/mainnav :: mainnav"/>


<div class="strip">
<div class="container">
		<header>
		    <h1 class="text-center">Welcome to Game studio</h1>
			<p class="text-center">Choose your game</p>
		</header>
		   
</div>
	</div>
		<div class="container">
		<div th:if="${@loginController.logged}">
		You are logged as <span th:text="${@loginController.loggedPlayer.name}"></span>
		<a th:href="@{/logout}">Logout</a>
	</div>
	<div class="row">
		<section class="col-lg-4  col-12">
			<div class="card">
  				<img th:src="@{/images/minesweeper/Mines.PNG}" class="card-img-top" alt="minesweeperimage">
  				<div class="card-body">
    				<p class="card-text"><a th:href="@{/minesweeper}">Minesweeper</a></p>
  			</div>
				</div>
		</section>	
		<section class="col-lg-4  col-12">	
		<div class="card">
  				<img th:src="@{/images/puzzle/15Puzzle.png}" class="card-img-top" alt="puzzleimage">
  				<div class="card-body">
    				<p class="card-text"><a th:href="@{/puzzle}">Puzzle</a></p>
  			</div>
				</div>
		</section>
		<section class="col-lg-4 col-12">
			<div class="card">
  				<img th:src="@{/images/guessnumber/guess.png}" class="card-img-top" alt="guessnumberimage">
  				<div class="card-body">
    				<p class="card-text"><a th:href="@{/guessnumber}">Guess number</a></p>
  			</div>
				</div>
		</section>
	</div>
	</div>
	
	<div th:replace="/fragments/footer :: globalfooter" />

    
</body>
</html>